<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Pictory</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><a href="<%= root_path %>">Bienvenido: <%= current_user.email %></a></li>
          <li><a href="<%= edit_user_registration_path %>">Editar Registro</a></li>
          <li><a href="<%= my_histories_path %>">Mis historias</a></li>
          <li><a href="<%= destroy_user_session_path %>" data-method="DELETE">Salir</a></li>
        <% else %>    
          <li><a href="<%= new_user_session_path %>">Ingresar</a></li>
          <li><a href="<%= new_user_registration_path %>">Registrarse</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

